nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--custom-yellow);
  height: 6em;
}

h1 {
  margin: 0;
  font-size: 2.5em;
  font-weight: bold;
}
